body{
    height: 100vh;
    width: 100wv;
    padding: 0;
    margin: 0;
    /* overflow: clip; */
}

#canvas{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;

}